h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

div {
    display: flex;
    justify-content: center;
}

body {
    background-color: orange;
}

#results {
    display: flex;
    justify-content: start;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
}

.flex-item {
    border: 2px solid black;
    padding: 0px 30px;

}

.flex-item:hover {
    background-color: lightgray;
}